<html ng-app="huoyun" ng-controller="appController">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../res/favicon.ico" type="image/x-icon" />
  <!-- inject:css -->
  <link rel="stylesheet" href="../libs/font-awesome.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/ionicons.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/ngDialog-theme-default.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/ngDialog.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/color-picker/evol-colorpicker.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/datepicker/datepicker3.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/daterangepicker/daterangepicker.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/adminlte/css/AdminLTE.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap-theme.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/datetimepicker/css/bootstrap-datetimepicker.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/iCheck/square/_all.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../libs/adminlte/css/skins/_all-skins.min.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../huoyun.widget.css?v=1555140901948"></link>
  <link rel="stylesheet" href="../app.css?v=1555140901948"></link>
  <!-- endinject -->
  <title ng-bind="pageTitle"></title>
</head>

<body class="huoyun hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <div widget-header></div>
    <div widget-sidebar></div>
    <div class="content-wrapper">
      <section widget-bread-crumb title="{{pageTitle}}" navs="navs"></section>
      <section ui-view class="content-wrapper-container">
      </section>
    </div>
</body>
<!-- inject:js -->
<script src="../libs/jquery.min.js?v=1555140901948"></script>
<script src="../libs/jquery-ui.min.js?v=1555140901948"></script>
<script src="../libs/angular.js?v=1555140901948"></script>
<script src="../libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js?v=1555140901948"></script>
<script src="../libs/chartjs/Chart.bundle.min.js?v=1555140901948"></script>
<script src="../libs/color-picker/evol-colorpicker.js?v=1555140901948"></script>
<script src="../libs/datepicker/bootstrap-datepicker.js?v=1555140901948"></script>
<script src="../libs/daterangepicker/1moment.min.js?v=1555140901948"></script>
<script src="../libs/daterangepicker/daterangepicker.js?v=1555140901948"></script>
<script src="../libs/iCheck/icheck.min.js?v=1555140901948"></script>
<script src="../libs/adminlte/js/app.min.js?v=1555140901948"></script>
<script src="../libs/bootstrap/js/bootstrap.min.js?v=1555140901948"></script>
<script src="../libs/datepicker/locales/bootstrap-datepicker.zh-CN.js?v=1555140901948"></script>
<script src="../libs/datetimepicker/js/bootstrap-datetimepicker.min.js?v=1555140901948"></script>
<script src="../libs/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v=1555140901948"></script>
<script src="../libs/angular-ui-router.min.js?v=1555140901948"></script>
<script src="../libs/huoyun.widget.js?v=1555140901948"></script>
<script src="../libs/ng-file-upload.min.js?v=1555140901948"></script>
<script src="../libs/ngDialog.min.js?v=1555140901948"></script>
<script src="../app.js?v=1555140901948"></script>
<!-- endinject -->

</html>